

html {
  box-sizing: border-box;
  outline: none;
  overflow: auto;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  margin: 0;
  background: url(/src/img/sleep21.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container {
  background-color: rgba(0,0,0,0.6);
  border-radius: 15px;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 30%;

}

.heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
}

.form_wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form_input {
  margin-bottom: 20px;
}

.form_button {
  background-color: rgb(199, 128, 61);

  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.form_hint{
  color: rgb(255, 255, 255);
  padding-bottom: 1.5rem;
}